<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="Concentracion nacional de furgonetas camper furgovw" />
	<meta name="keywords" content="furgovw,furgonetas camper,furgoneta,camper,volkswagen california,multivan,vito,transporter,caravelle,marcopolo,van,camper van,furgo,segunda mano" />
	<link rel="stylesheet" type="text/css" href="/nacional/css/nacional.css" />	
	<script type="text/javascript" src="/clases/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/nacional/js/nacional.js"></script>
	<title>{% if title %}{{title}}{% else %}Concentración nacional de furgonetas camper furgovw.org{% endif %}</title>
</head>
<body>

<div id='menu'>
	<div id='menuContainer'>
		<img id='menuLogo' src='/nacional/img/logo_menu.png' />
		<div id='menuButtonsContainer'>
			<a href='http://www.furgovw.org/nacional/'>Inicio</a>
			<a href='http://www.furgovw.org/nacional/historia/'>Historia</a>
			<a href='http://www.furgovw.org/nacional/apuntarse/'>Apuntarse</a>
			<a href='http://www.furgovw.org'>Volver al foro</a>
	
			{% if moderator %}
			<a href='/nacional/admin/'>Menú admin</a>
			{% endif %}
		</div>
		<img id='menuLogoDerecha' src='/nacional/img/logo_menu_derecha.png' />
	</div>
</div>

<div id='container'>

